body{
    display:flex;
   justify-content: center;
align-items: center;
background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5L3Jhd3BpeGVsb2ZmaWNlOV9hX3NreV9maWxsZWRfd2l0aF9jbG91ZHNfYW5kX3N0YXJzX21hZGVfb2ZfY290dF85Nzk3Nzk0My0wMDJjLTQwYTQtYjk2NS0zNDUzNDZjNjRhMjBfMS5qcGc.jpg");
background-size: cover;
position: absolute;
top:250px;
left:400px;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:50px ;
  color:aliceblue
}
.time{
   display: flex;
   justify-content: center;
   align-items: center;
   height:100px;
   width: 150px;
   background-color: rgb(44 39 49);
   margin:20px;
   border: #000000 8px solid;
   border-radius: 30%;
   text-align:center;
   color:aliceblue;
  font-size: 100px;

}
.colon{
   font-size: 80px;
   color:aliceblue
}
